.fetchbBogComponent{
    background-color: #f7f7f7;
    min-height: 100vh;
    padding: 20px;
    display: flex; /* Use flexbox to make the container stretch to contain its children */
    flex-direction: column;
    box-sizing: border-box;
}