.psuedoInput{
    width: 100%; /* Full width */
    padding: 15px;
    margin: 20px 0; /* Add some space around the title input */
    font-size: 1.5rem; /* Larger font size for the title */
    color: #333; /* Light text for visibility on dark background */
    background-color: white; /* Slightly lighter than the header for contrast */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    box-sizing: border-box; /* Ensure padding does not add to the width */  
}

.categorySelection{
    width: 100%; /* Full width */
    padding: 15px;
    margin: 20px 0; /* Add some space around the title input */
    font-size: 1.5rem; /* Larger font size for the title */
    color: #333; /* Light text for visibility on dark background */
    background-color: white; /* Slightly lighter than the header for contrast */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    box-sizing: border-box; /* Ensure padding does not add to the width */  
}


.nextButton{
    background-color: white;
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0.7;
    margin-top: 2pc;  

}